.serviceMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;

  .parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;

    .taglineContainer {
      width: 60%;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.25;
    }
  }
}


// Service Cards Styling
.serviceCardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;

  .iconContainer {
    font-size: 3rem;
    color: var(--site-links-hover);
  }

  .titleContainer {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .descriptionContainer {
    font-size: 1rem;
  }
}