:root {
  --form-bg: #0f0f31;
}

.serviceMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;

  .parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;

    .taglineContainer {
      width: 60%;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.25;

      @media (max-width: 768px) {
        width: 75%;
        font-size: 1.5rem;
      }

      @media (max-width: 480px) {
        width: 90%;
        font-size: 1.25rem;
      }
    }

    @media (max-width: 480px) {
      .serviceContainer {
        gap: 10px;
      }
    }
  }
}

// Service Cards Styling
.serviceCardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 15px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--form-bg);

  .iconContainer {
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleContainer {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .descriptionContainer {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    padding: 10px;

    .titleContainer {
      font-size: 1.25rem;
    }

    .descriptionContainer {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 480px) {
    padding: 8px;

    .titleContainer {
      font-size: 1rem;
    }

    .descriptionContainer {
      font-size: 0.75rem;
    }
  }
}
