:root {
  --site-bg: #0d0d1f;
  --navbar-bg: #0f0f31;
  --site-text: #ffffff;
  --site-links-hover: #67e8f9;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: var(--site-text);
  overflow: hidden;

  .parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profilePictureContainer {
      border-radius: 50%;
      overflow: hidden;
      width: 200px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
