:root {
  --site-bg: #0d0d1f;
  --navbar-bg: #0f0f31;
  --site-text: #ffffff;
  --site-links-hover: #67e8f9;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  color: var(--site-text);
  overflow: hidden;

  .parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 1rem;

    .profilePictureContainer {
      border: 1px solid var(--site-text);
      border-radius: 50%;
      overflow: hidden;
      width: 200px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .taglineContainer {
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.25;

      span {
        color: var(--site-links-hover);
      }
    }

    .introlineContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.5;
      width: 100%;

      span {
        color: var(--site-links-hover);
      }
    }

    .workButton {
      border-radius: 25px;
    }
  }
}
