:root {
  --site-bg: #0d0d1f;
  --site-text: #ffffff;
  --site-links-hover: #67e8f9;
}

.navbarStyles {
  padding: 0px 20px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}

.desktopNavbarStyles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  height: 12vh;
  width: 100%;

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
  }

  .navbarTitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--site-text);
    text-transform: uppercase;
  }

  .navlinkContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .singleNavlink {
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: var(--site-links-hover);
      }
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;

    .menuIcon {
      display: flex;
      justify-content: center;
      font-size: 28px;
      width: 28px;
      color: var(--site-text);
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: var(--site-links-hover);
      }
    }
  }
}
