:root {
  --site-bg: #0d0d1f;
  --navbar-bg: #0f0f31;
  --site-text: #ffffff;
  --site-links-hover: #67e8f9;
  --card-background: #28287e;
}

.expMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--site-text);
  padding: 25px 20px;

  .expDetailsContainer {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .headerText {
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    .cardParentContainer {
      width: 100%;
      display: flex;
      justify-content: center;

      .cardContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 100dvh;
        overflow-y: auto;
        width: 100%;

        @media (min-width: 1024px) {
          width: 50%;
        }
      }
    }
  }
}

// Card Styles
.experienceCard {
  background-color: var(--card-background);
  color: var(--site-text);

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 10px;
    padding: 10px 20px;

    .companyName {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .duration {
      font-size: 1rem;
      color: #ccc;
    }
  }

  .cardContent {
    padding: 10px 20px;
    padding-top: 0;

    .headerContainer {
      display: flex;
      justify-content: space-between;

      .cardLabel {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .roleText {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .locationText {
        align-items: center;
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;

    li {
      font-size: 0.9rem;
      margin-bottom: 5px;
    }
  }

  .showHyperText {
    display: flex;
    justify-content: flex-end;
    color: var(--site-links-hover);
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.75rem;
  }
}
