:root {
  --text-color: #ffffff;
  --text-secondary-color: #aaaaaa;
  --carousel-item-bg-color: #ffffff08;
}

.carouselContainer {
  width: 100%;
}

.carouselViewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.carouselTrack {
  display: flex;
  align-items: center;
  will-change: transform;
}

.carouselItem {
  flex: 0 0 auto;
  box-sizing: border-box;
  background: var(--carousel-item-bg-color);
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: var(--text-color);

  .itemName {
    font-size: 1rem;
    color: var(--text-secondary-color);
    text-align: center;
  }
}