:root {
  --site-text: #ffffff;
  --faded-text: #cccccc;
  --form-bg: #0f0f31;
  --site-links-hover: #67e8f9;
}

.contactMainContainer {
  width: 100%;
  color: var(--site-text);
  padding: 25px 20px;

  .subContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 25px;

    @media (max-width: 1024px) {
      padding: 0 10px;
    }

    @media (max-width: 425px) {
      width: -webkit-fill-available;
    }

    // Contact details -----------
    .headerSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;

      .headerText {
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.25;
      }

      .subHeaderText {
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--faded-text);
      }
    }

    .bodySection {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--faded-text);

      .contactDetailInstance {
        display: flex;
        align-items: center;
        gap: 10px;

        .contactIcon {
          font-size: 1rem;
          color: var(--site-text);
        }

        .contactText {
          color: var(--faded-text);
        }
      }
    }

    .footerSection {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .iconLinkButton {
        i {
          font-size: 1.5rem;
        }
        color: var(--site-text);
        transition: color 0.3s;

        &:hover {
          color: var(--site-links-hover);
        }
      }
    }

    // Contact form -----------
    .formContainer {
      border-radius: 10px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: var(--form-bg);
    }
  }
}
