:root {
  --text-color: #ffffff;
  --text-secondary-color: #ececec;
  --skill-item-bg-color: #ffffff3d;
}

.skillContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.skillItem {
  box-sizing: border-box;
  background: var(--skill-item-bg-color);
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--text-color);
  max-width: 128px;

  .itemIcon {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .itemName {
    font-size: 1rem;
    color: var(--text-secondary-color);
    text-align: center;
  }

  @media (max-width: 480px) {
    max-width: 100px;
    padding: 8px;

    .itemIcon {
      width: 40px;
      height: 40px;
    }

    .itemName {
      font-size: 0.875rem;
    }
  }
}